@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto');

body {
 text-align: center;
  background: url("../images/wedding_chalkboard.jpg");
  background-size: cover;
  color: #000;
  font-family: 'Roboto';
  font-size: 1em;
}

div {
	width: 40%;
	margin-left: 10%;
	background-color: rgba(255,255,255,.65);
	margin-top: 15%;
	padding: 16px;
}

a {
	text-decoration: none;
	color: grey;
}

h1 { font-family: 'Dancing Script';
	font-size: 3.5em;
}